body{
    background-color: lightslategrey;
    margin: 5% 10%;
   
}
.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
}

.container input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#submit{
 width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}.name{
    display: flex;
    flex-direction:row;
    width:100%;

}

#lastname{
    margin-left: 5%;
}
 
/* .head{
    display: flex;
} */

h2 {
    text-align: center;
}

p{
    width: 100%;
    text-align: center;
}
 #extra{
     color: white;
 }

@media (max-width:500px) {
    body{
        margin: 5% 10%;
    }
    
}